@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Importando las tipografías */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@500;700&display=swap');

/* Importando las tipografías */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@500;700&display=swap');

/* Estilos generales del cuerpo */
body {
  max-width: 100vw; 
  overflow-x: hidden;
  font-family: 'Lato', sans-serif !important;
  color: #333; /* Color principal del texto */
  background-color: #f8f9fa; /* Fondo claro */
  line-height: 1.7; /* Aumenta el espaciado entre líneas para legibilidad */
}

/* Títulos */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Peso mayor para títulos */
  color: #dd1414; /* Rojo para crear contraste */
  margin-bottom: 20px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* Párrafos */
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #666; /* Un gris claro para el texto */
  margin-bottom: 20px;
}

/* Links */
a {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #dd1414; /* Rojo para enlaces */
  text-decoration: none;
}

a:hover {
  color: #bb1010; /* Rojo más oscuro en hover */
}

/* Botones */
button {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #dd1414;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bb1010;
}

section {
  min-height: 100vh; /* Asegura que cada sección ocupe al menos la pantalla completa */
  scroll-margin-top: 60px; /* Ajusta este valor al tamaño de tu navbar */
}


/* Navbar */
#header {
  background-color: rgba(255, 255, 255, 0.9); /* Transparencia para darle un toque flotante */
  backdrop-filter: blur(10px); /* Efecto de desenfoque detrás de la navbar */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Añadida transición para padding */
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  padding: 5px 0; /* Padding más reducido */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra más sutil */
}

.navbar-brand {
  flex: 1; /* 1/3 del espacio */
}

.navbar-collapse {
  flex: 2; /* 2/3 del espacio */
}

.navbar .container-fluid {
  width: 100vw;
  padding-inline: 20px; /* Padding lateral más reducido */
}

.navbar .container-fluid .collapse {
  flex-grow: 0;
  align-items: end;
}

.navbar-brand img {
  max-width: 25%; /* Logo más pequeño */
  height: auto;
}


/* Estilos para los links de la barra de navegación */
.navbar-dark .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 5px 10px;
  transition: color 0.4s ease, padding 0.3s ease; /* Transición más lenta para suavidad */
}

/* Enlaces activos en la navbar */
.navbar-dark .navbar-nav .nav-link.active {
  color: #dd1414;
  font-weight: 600;
}

.nav-link {
  position: relative;
  color: #333;
  text-decoration: none;
}

/* Efectos hover y activo para los enlaces */
.nav-link.active,
.nav-link:hover {
  color: #dd1414 !important; /* Color del enlace en hover y activo */
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.3); /* Sombra suave en hover */
}

/* Línea elegante debajo de los enlaces */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #dd1414; /* Línea más delgada y elegante */
  transition: width 0.4s ease, left 0.4s ease; /* Transiciones más lentas */
}

/* Efecto de la línea cuando el enlace está activo */
.nav-link.active::after {
  width: 90%; /* Estiramiento suave al 90% del ancho */
  left: 5%;
}


#home {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  margin-bottom: 0 !important;
  position: relative;
  overflow: hidden;
}

#home img {
  max-width: 100%;
  max-height: 50vh;
  height: auto;
  width: auto;
}

/* Efecto de Flujo de Luz en el logo */
.main-circle {
  position: relative;
  z-index: 1;
  padding: 10px;
  overflow: hidden; /* Oculta el brillo fuera del logo */
}

.main-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%; /* Empieza fuera del logo */
  width: 150%; /* Ajustamos el ancho del destello */
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); /* Más suavidad y brillo alrededor */
  filter: blur(15px); /* Suavizamos más el destello */
  transform: skewX(-30deg) scale(1.2); /* Le agregamos una ligera inclinación y escala para dar dinamismo */
  animation: lightSweep 6s linear infinite;
}

/* Órbitas */
.orbit-circle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 0, 0, 0.5);
  animation: orbit 10s infinite alternate ease-in-out;
  overflow: hidden;
}

.orbit-1 {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 15%;
  animation-duration: 10s;
}

.orbit-2 {
  width: 400px;
  height: 400px;
  top: 20%;
  right: 10%;
  animation-duration: 14s;
}

.orbit-3 {
  width: 300px;
  height: 300px;
  bottom: 15%;
  left: 20%;
  animation-duration: 12s;
}

/* Animación del Flujo de Luz */
@keyframes lightSweep {
  0% {
    left: -150%;
    opacity: 0.2; /* Inicia con baja opacidad */
    transform: skewX(-25deg) scale(1.1); /* Pequeña inclinación */
  }
  50% {
    left: 50%; /* Cruza por el centro */
    opacity: 0.8; /* Incrementa opacidad en el centro */
    transform: skewX(-25deg) scale(1.2); /* Aumenta ligeramente la escala */
  }
  100% {
    left: 150%; /* Sale completamente del logo */
    opacity: 0.2; /* Disminuye de nuevo la opacidad */
    transform: skewX(-25deg) scale(1.1); /* Vuelve a la escala original */
  }
}

/* Animación de las órbitas */
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px);
  }
  to {
    transform: rotate(360deg) translateX(100px);
  }
}

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




/* Estilo de la sección de contacto */
.contact-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-section p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
}


.about-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.about-img img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.about-content h2 {
  font-size: 2.5rem;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--default-color);
  margin-bottom: 20px;
}

.about-content .btn-primary {
  background-color: #dd1414;
  border-color: #dd1414;
}

.about-content .btn-primary:hover {
  background-color: #bb1010 !important;
  border-color: #bb1010;
}


#procesos {
  height: 100vh; /* Altura completa de la ventana */
}

#procesos img {
  width: 100%; /* Imagen ocupa el 100% del ancho */
  height: auto; /* Mantener las proporciones */
}

.services-section {
  padding: 50px 0;
}


.portfolio-card {
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative; /* Para colocar la información adicional encima */
}

.portfolio-card:hover {
  transform: scale(1.05); /* Efecto al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

.portfolio-wrapper {
  text-align: center;
}

.portfolio-image {
  width: 100%;
  height: 200px; /* Ajusta el tamaño a tus necesidades */
  overflow: hidden;
  margin-bottom: 15px;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
  transition: transform 0.3s ease-in-out; /* Transición de la imagen */
}

.portfolio-card:hover .portfolio-image img {
  transform: scale(1.1); /* Efecto zoom al pasar el mouse */
}

.portfolio-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

.portfolio-info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85); /* Fondo oscuro semitransparente */
  color: #fff;
  padding: 10px;
  text-align: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

.portfolio-info p {
  color: #fff;
}

.portfolio-card:hover .portfolio-info {
  opacity: 1;
  visibility: visible;
}

.portfolio-card:hover .portfolio-text {
  color: #fff;
}

.portfolio-card.appear {
  opacity: 1;
  transform: translateY(0); /* Cuando la tarjeta es visible, vuelve a su posición original */
}


.calidad-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.calidad-section .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.calidad-section .section-title h2 {
  font-size: 2.5rem;
  color: #333;
}

.calidad-section .section-title p {
  font-size: 1.1rem;
  color: #777;
}

.calidad-section .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.calidad-section img.img-fluid {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.calidad-section h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #dd1414;
}

.calidad-section p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.calidad-section ul li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.calidad-section ul li i {
  color: #dd1414;
  margin-right: 10px;
  font-size: 1.2rem;
}

.calidad-section .btn-primary {
  background-color: #dd1414;
  border-color: #dd1414;
}

.calidad-section .btn-primary:hover {
  background-color: #bb1010 !important;
  border-color: #bb1010;
}


.clients-section {
  padding: 60px 0;
  background-color: #f1f1f1;
}

.row{
  margin-block: 20px;
}

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section-title p {
  font-size: 1.1rem;
  color: #6c757d;
}

.client-card {
  text-align: center;
  background: white;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.client-card img {
  max-width: 150px;
  margin-bottom: 20px;
}

.client-card p {
  font-size: 1.1rem;
  color: #333;
}

.client-card:hover {
  transform: translateY(-10px);
}

.environment-section {
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.environment-section .section-title {
  margin-bottom: 40px;
}

.environment-section .section-title h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.environment-section .section-title p {
  font-size: 1.2rem;
  color: #555;
}

.environment-section .content p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.environment-section .content p:last-child {
  margin-bottom: 0;
}


/* Estilos generales de la sección de contacto */
.contact-section {
  padding: 60px 0;
  background-color: #f9f9f9;
  text-align: center;
}

/* Contenedor principal de la sección */
.contact-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para las cajas de información, formulario y mapa */
.contact-section .info-box,
.contact-section .php-email-form,
.contact-section .map-container-xl {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* Formulario de contacto */
.contact-section .php-email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Títulos de la sección */
.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Párrafos dentro de la sección */
.contact-section p {
  margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.contact-section .form-group {
  margin-bottom: 15px;
}

/* Estilos para los inputs y textarea del formulario */
.contact-section .form-group input,
.contact-section .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilos para el botón de enviar del formulario */
.contact-section .php-email-form button {
  background-color: #dd1414;
  border: none;
  padding: 10px 30px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover para el botón de enviar */
.contact-section .php-email-form button:hover {
  background-color: #bb1010;
}

/* Estilos para el iframe del mapa */
.contact-section .map-container-xl iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
}

/* Caja de información de contacto (dirección, teléfono, etc.) */
.contact-section .info-box {
  text-align: left;
}

/* Estilos para los títulos de las cajas de información */
.contact-section .info-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Estilos para los párrafos dentro de las cajas de información */
.contact-section .info-box p {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Estilo del mapa en pantallas grandes (desktop) */
.map-container-xl {
  display: block; /* El mapa es visible en pantallas grandes */
}

.map-container-xs {
  display: none; /* El mapa pequeño está oculto en pantallas grandes */
}

.g-recaptcha {
  display: none; /* Inicialmente oculto */
  transform: scale(0.85); /* Reducir el tamaño del reCAPTCHA */
  transform-origin: 0 0; /* Mantener el origen en la esquina superior izquierda */
  margin: 20px auto; /* Centrando con margen automático */
  display: flex;
  justify-content: center;
}

.whatsapp_float {
  position: fixed;
  width: 50px; /* Tamaño más pequeño */
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp_float i {
  color: white;
}

.whatsapp_float:hover {
  background-color: #128c7e;
}



/* Estilos específicos para pantallas tipo tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Ajusta el tamaño del logo */
  .navbar-brand img {
    max-width: 40%;
  }

  /* Ajustes para la navegación en tablet */
  .navbar-nav {
    flex-direction: row;
    align-items: flex-end;
  }

  .nav-link {
    text-align: left;
    font-size: 16px; /* Tamaño de fuente más grande en tablet */
  }

  .navbar-toggler {
    float: right;
    margin-left: auto;
    border: none;
    padding: 0;
    right: 0;
    border: none !important;
  }
 
  .navbar-toggler:hover {
    border: none;
    background-color: transparent;
  
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  /* Ajustes en la sección home para tablet */
  #home img {
    max-width: 60%; /* Tamaño reducido en tablets */
  }

  .orbit-circle {
    transform: scale(0.75); /* Escala más pequeña para los círculos en tablets */
  }

  /* Orbit 1 ajustes */
  .orbit-1 {
    width: 150px;  /* Ajusta al 75% */
    height: 150px;
  }

  /* Orbit 2 ajustes */
  .orbit-2 {
    width: 300px;
    height: 300px;
  }

  /* Orbit 3 ajustes */
  .orbit-3 {
    width: 225px;
    height: 225px;
  }

  /* Ajustes para la sección de calidad */
  .calidad-section .row {
    flex-direction: row; /* Mantener la imagen y el texto en línea horizontal en tablets */
  }

  /* Sección de contacto en tablet */
  .contact-section .map-container-xl,
  .contact-section .info-box {
    width: 100%; /* Asegura que el mapa y el contenido ocupen todo el ancho de la pantalla */
  }
  
  .php-email-form {
    width: 100%; /* El formulario también debe ocupar el 100% del ancho en tablets */
  }
}


/* Ajustes de la navbar en pantallas pequeñas */

@media (max-width: 768px) {

  #header {
    position: fixed;
    top: 0;
    width: 100vw;
  }

  #home {
    padding-top: 50px;
  }

  section {
    min-height: 100vh;
    scroll-margin-top: 50px;
  }

  .navbar-brand img {
    max-width: 100px;
    height: auto;
    margin-left: 0;
  }

  .navbar .container-fluid {
    display: block;
  }

  .navbar-toggler {
    float: right;
    margin-left: auto;
    padding: 0;
    border: none !important;
  }

  .navbar-toggler:hover, .navbar-toggler:focus {
    background-color: transparent;
    box-shadow: none !important;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .navbar-nav {
    align-items: flex-end;
    padding-inline: 0.75rem;
  }

  .nav-link {
    text-align: left;
    padding: 10px;
  }

  #home img {
    max-width: 75%;
    height: auto;
  }

  .orbit-circle {
    transform: scale(0.5);
  }

  .orbit-1, .orbit-2, .orbit-3 {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
  }

  .orbit-1 {
    width: 80px;
    height: 80px;
  }

  .orbit-2 {
    width: 150px;
    height: 150px;
  }

  .orbit-3 {
    width: 120px;
    height: 120px;
  }

  .calidad-section .row {
    flex-direction: column-reverse;
  }

  .calidad-section img.img-fluid,
  .clients-section .client-card {
    margin-top: 1rem;
  }

  /* Sección de contacto */
  .contact-section {
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;
  }

  .contact-section .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contact-section .info-box {
    padding: 15px;
    text-align: left;
  }

  .contact-section h3 {
    font-size: 1.1rem; /* Un poco más pequeño */
  }

  .contact-section p {
    font-size: 0.9rem; /* Ajustar tamaño de texto */
  }

  .contact-section i {
    font-size: 1.3rem; /* Iconos más pequeños */
  }

  .contact-section .map-container-xl {
    display: none;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
  }

  .contact-section .map-container-xs {
    display: block;
  }

  .contact-section .map-container-xl iframe,
  .contact-section .map-container-xs iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

}




